teste_rpd.py
gemini.md
.streamlit/
__pycache__/
/htmlcov
.env
sql_inserts_v2/
antigo_rpd.py
backup.sql
tests/
.venv/
exportacoes/

# Terraform state files
/.terraform
*.tfstate
*.tfstate.*
*.lock.hcl
/Terraform_OCI/
.oci/

# Python specific ignores
*.pyc
*.log
dist/
build/
*.egg-info/
*.dist-info/

# OS specific ignores
.DS_Store
Thumbs.db
nohup.out
